{% load cms_tags sekizai_tags %}
{% load cache menu_tags compress %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
<head>
<meta charset="utf-8" />
<!--[if IE]><![endif]-->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>{% block title %}{{ request.current_page.get_title }}{% endblock %}</title>
<meta name="msvalidate.01" content="69ED63101E59E01F4807EFECAA1D8B78" />
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" />
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine&amp;v1" />
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" />
{% compress css %}
<link rel="stylesheet" href="{{STATIC_URL}}css/style.css?v=1" />
{% endcompress %}
{% render_block "css" %}
<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>-->
<!--[if lt IE 9]><script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script><![endif]-->
{% block extra-head %}{% endblock %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-85789-7']);
  _gaq.push(['_setDomainName', 'ntucker.me']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</head>
<body {% block base_bodytags %}{% endblock %}>
{% cms_toolbar %}
<div id="main">
<header id="header">
      <div id="logo">
            <h1>Nathaniel Tucker</h1>
            <div class="slogan">Doing the impossible in polynomial time.</div>
      </div>
<nav id="menubar">
<ul id="menu">
    {% show_menu 0 0 0 0 %}
</ul>
</nav>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
</header>

<div id="site_content">
{% block content %}{% placeholder content %}{% endblock %}
</div>

</div>
<footer id="footer">Copyright 2011 by Nathaniel Tucker.</footer>
{% render_block "js" %}
</body>
</html>
